{% extends "oscar/base.html" %}
{% load static %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% block description %}Загляните к нам за яркими идеями для творчества ️ и волшебной чистотой дома. Здесь есть всё, чтобы учеба, работа и быт стали в радость!{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/style.min.css' %}" />
 <style>
    @font-face {font-family: 'Gagalin'; src: url('{% static "oscar/webfonts/gagalin.ttf" %}') format('truetype'); font-weight: normal; font-style: normal;}
 </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'oscar/lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'oscar/lib/owlcarousel/assets/owl.carousel.min.css' %}">
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "oscar/partials/nav_accounts.html" %}
    {# Site logo/title, mini-basket, browse dropdown and searchbox #}

        <header class="header container-fluid">
        <div class="page_inner">
            <div class="row justify-content-between py-3">
                {% include "oscar/partials/brand.html" %}
                {# Mini-basket wrapped in a block so some templates can now display it #}
                {% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
            </div>
        </div>
        {% block navigation %}
            {% include "oscar/partials/nav_primary.html" %}
        {% endblock %}
    </header>

<body>

    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="{% static 'oscar/img/0001.jpg' %}" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Канцелярские товары</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Канцелярские товары для офиса и дома оптом и в розницу</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'category_view' slug='kantselyarskie-tovary' pk=4 %}">Смотреть</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="{% static 'oscar/img/0002.jpg' %}" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Бытовая химия</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Безопасные и эффективные средства для уборки и дезинфекции помещений</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'category_view' slug='bytovaya-khimiya-moyushchie-sredstva' pk=2 %}">Смотреть</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item position-relative" style="height: 430px;">
                            <img class="position-absolute w-100 h-100" src="{% static 'oscar/img/0003.jpg' %}" style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Антисептики</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Гигиенические антисептики для обработки рук</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="{% url 'category_view' slug='antiseptiki' pk=1 %}">Смотреть</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="{% static 'oscar/img/0004.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Экономия 5%</h6>
                        <h3 class="text-white mb-3">Специальное предложение</h3>
                        <a href="{% url 'offer:list' %}" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="{% static 'oscar/img/0005.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Экономия 10%</h6>
                        <h3 class="text-white mb-3">Акция</h3>
                        <a href="{% url 'offer:list' %}" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Поставщики РБ</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Быстрая поставка</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14 дней на возврат</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Поддержка</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
     <div class="container-fluid pt-5">
         <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Категории</span></h2>
         <div class="row px-xl-5 pb-3">
    {% for category in categories %}
             <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                  <a class="text-decoration-none" href="{% url 'category_view' slug=category.slug pk=category.pk %}">
                  <div class="cat-item d-flex align-items-center mb-4">
                      <div class="overflow-hidden" style="width: 100px; height: 100px;">
                     {% if category.image %}
                        <img class="img-fluid" src="{{ category.image.url }}" alt="{{ category.name }}">
                     {% else %}
                     <p>No image available</p>
                     {% endif %}
                        </div>
         <div class="flex-fill pl-3">
        <h6>{{ category.name }}</h6>
         <small class="text-body">{{ category.product_count }} товаров</small>
        </div>
                  </div>
                  </a>
            </div>
    {% endfor %}
        </div>
     </div>

    <!-- Products Start -->
   <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Специальное предложение</span>
    </h2>
    <div class="row px-xl-5">
        {% for product in promoted_products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    {% with image=product.primary_image %}
                    <img class="img-fluid w-75 mx-auto d-block"
                         src="{{ image.original.url }}"
                         alt="{{ product.get_title }}">
                    {% endwith %}
                    <div class="product-action position-absolute bottom-0 start-0 end-0 opacity-0 translate-y-100 transition-all">
                        <!-- Для правильной работы с AJAX -->
                        <form action="{% url 'basket:add' pk=product.pk %}"
                              method="post"
                              class="d-inline block"
                              data-product-id="{{ product.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit"
                                    class="btn btn-outline-dark btn-square basket-add-button"
                                    data-loading-text="Добавляем...">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </form>

                        <a class="btn btn-outline-dark btn-square"
                           href="{% url 'customer:wishlists-add-product' product_pk=product.pk %}">
                            <i class="far fa-heart"></i>
                        </a>
                        <a class="btn btn-outline-dark btn-square"
                           href="{{ product.get_absolute_url }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate"
                       href="{{ product.get_absolute_url }}">
                        {{ product.title }}
                    </a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        {% purchase_info_for_product request product as session %}
                            {% if session.price.exists %}
                               <h5> {{ session.price.excl_tax|currency:session.price.currency }}</h5>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
    <!-- Products End -->


    <!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="{% static 'oscar/img/0004.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Скидка 5%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="{% static 'oscar/img/0005.jpg' %}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Бесплатная доставка</h6>
                        <h3 class="text-white mb-3">от суммы покупки 150,0 руб.</h3>
                        <a href="" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Последние поступления</span></h2>
        <div class="row px-xl-5">
             {% for product in new_products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    {% with image=product.primary_image %}
                    <img class="img-fluid w-75 mx-auto d-block"
                         src="{{ image.original.url }}"
                         alt="{{ product.get_title }}">
                    {% endwith %}
                    <div class="product-action position-absolute bottom-0 start-0 end-0 opacity-0 translate-y-100 transition-all">
                        <!-- Для правильной работы с AJAX -->
                        <form action="{% url 'basket:add' pk=product.pk %}"
                              method="post"
                              class="d-inline block"
                              data-product-id="{{ product.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <button type="submit"
                                    class="btn btn-outline-dark btn-square basket-add-button"
                                    data-loading-text="Добавляем...">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </form>
                        <a class="btn btn-outline-dark btn-square"
                           href="{% url 'customer:wishlists-add-product' product_pk=product.pk %}">
                            <i class="far fa-heart"></i>
                        </a>
                        <a class="btn btn-outline-dark btn-square"
                           href="{{ product.get_absolute_url }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate"
                       href="{{ product.get_absolute_url }}">
                        {{ product.title }}
                    </a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        {% purchase_info_for_product request product as session %}
                            {% if session.price.exists %}
                               <h5> {{ session.price.excl_tax|currency:session.price.currency }}</h5>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <!-- Products End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0001.jpg' %}" alt="ArtSpace">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0002.jpg' %}" alt="Daryish">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0003.png' %}" alt="Maped">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0004.png' %}" alt="Deli">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0005.jpg' %}" alt="Factis">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0006.jpg' %}" alt="ProfPress">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0007.png' %}" alt="Hatber">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'oscar/img/b0008.png' %}" alt="Berlingo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
{% include "oscar/partials/footer.html" %}
{% endblock %}



<!--    &lt;!&ndash; Contact Javascript File &ndash;&gt;-->
<!--    <script src="mail/jqBootstrapValidation.min.js"></script>-->
<!--    <script src="mail/contact.js"></script>-->


{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'oscar/lib/easing/easing.js' %}"></script>
    <script src="{% static 'oscar/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'oscar/js/main.js' %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
